<div class="home-container">
  <div class="title-container">
    <h1>Inicio</h1>
    <div>
      <label for="search">Pesquisar</label>
      <input type="text" name="search" placeholder="Procure um personagem" />
    </div>
  </div>

  <div *ngIf="characters && characters.results.length < 1" class="placeholder">
    <h2>Nada foi encontrado</h2>
    <p>Tente realizar uma nova busca.</p>
  </div>

  <div
    class="card-wrapper"
    *ngFor="let character of characters && characters!.results"
  >
    <app-card [character]="character"></app-card>
  </div>
</div>
